{
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "semi": 0,
    "no-unused-vars": "warn",
    "react/prop-types": "warn",
    "eqeqeq": "off"
  }
}
